kernel/*
configs/boards/*/*
apps/*/*
libs/*/
libs/*/*
configs/boards/*/
drivers/socs/
drivers/socs/*/*/*
drivers/boards/
drivers/boards/*/*/*
**Kconfig.gen
**Makefile.objs.gen
build/*
private/*
loader/*
kernel/*
include/*
*/.gitignore
apps/dmashm.config
apps/ipc.config
externals/*/
layouts/
javacard/
.config*
.*.cmd
doc/
